**

!**/CMakeLists.txt

./*

!LeadTheHordes/src/**
!LeadTheHordes/logs/**
!LeadTheHordes/assets/**

!Eris_Utility/include/**.h
!Eris_Utility/src/**.cpp
!Eris_Utility/src/**.tpp

!3rd_party_licenses/**